{% extends 'landingPage/authbase.html' %}

{% block content %}
<!-- Login Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 border rounded p-4 m-4 bg-light">
                <div class="text-center mb-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt="Shopping Cart" class="img-fluid" style="height: 150px;">
                </div>
                <h2 class="text-center">Log In</h2>
                <hr>
                <form action="{% url 'landingPage:login' %}" method="POST">
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <!-- Render form fields -->
                    {{ form.as_p }}
                    <div class="text-center">
                        <input class="btn btn-info btn-sm col-lg-4" type="submit" value="Login">
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="{% url 'landingPage:signup' %}">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Page End -->
{% endblock %}
