{% extends 'landingPage/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-5 mb-5 hero-header">
</div>
<!-- Product Detail Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid w-80" src="{{ product.image.url }}" style="height: 300px" alt="{{ product.name }}">
            </div>
            <div class="col-lg-6">
                <h3>{{ product.name }}</h3>
                <p class="text-muted mb-4">Price: ${{ product.price }}</p>
                <p>{{ product.description }}</p> <!-- Product Description -->
                <p>Category: {{ product.category.name }}</p>
                <p>Rating: {{ product.rating }}</p>
                <p>Stock: {{ product.stock }}</p>
                <p>Brand: {{ product.brand }}</p>
                <p>Discount: {{ product.discount_price }}</p>
                <p>Expiry Date: {{ product.expiration_date }}</p>
               
                <form action="{% url 'landingPage:add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Product Detail End -->
{% endblock %}
