{% extends 'landingPage/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary">Hey 👋</h2>
    <div class="form-group">
        {% if user_profile.image %}
            <div class="image-container" style="max-height: 300px; max-width: 300px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                <img src="{{ user_profile.image.url }}" alt="Profile Picture" class="profile-picture" style="width: 300px ; height: 300px ; object-fit: cover ; border-radius: 50% ;">
            </div>
        {% endif %}
    </div>
    <form method="POST" action="{% url 'profile_page:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_profile.first_name }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_profile.last_name }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user_profile.email }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="{{ user_profile.phone }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" value="{{ user_profile.address }}" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" value="{{ user_profile.city }}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" value="{{ user_profile.country }}" required>
            </div>
            <div class="form-group col-md-2">
                <label for="postal_code">Postal Code</label>
                <input type="text" class="form-control" id="postal_code" name="postal_code" value="{{ user_profile.postal_code }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="profile_picture">Profile Picture</label>
            <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="btn-back">
        <a href="{% url 'landingPage:logout' %}" class="btn btn-secondary">Logout</a>
    </div>
</div>
{% endblock %}
<!-- Custom CSS -->
<link href="{% static 'profile_page/templates/profile_page/style.css' %}" rel="stylesheet">
<style>
    .image-container {
        max-height: 100px;
        max-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .profile-picture {
        width: 100px !important;
        height: 100px !important;
        object-fit: cover !important;
        border-radius: 50% !important;
    }

    label {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
    }

    .form-control {
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
    }

    .btn-back {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
</style>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
