/* styles.css */

image-container { 
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}